body {
    width: 100%;
}

body.modal-open {
    overflow: scroll;
}

.sticky-menu {
  position: fixed;
  top: 0;
  /* width: 1200px; */
}

.sticky-footer {
  position: fixed;
  bottom: 0;
  /* width: 1200px; */
}

#backgroundWrapper {
    scroll-behavior: smooth;
}

.window-button {
    width: 32px;
    height: 32px;
    float: right;
    border: 1px solid #c0c0c0;
    background-color: #fff;
}